<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="back-image back-image-1"></div>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Find help for your ideas</h1>
          <p>Sign up like a Businessman. You can show your ideas worlds. We can help you find sponsors.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="back-image back-image-2"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Help our businessmen</h1>
          <p>Sign up like a Sponsor. Help implement ideas</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
