<% if @create_rating %>
  <div class="starts">
    Offer attractiveness:
    <div class="rating" id="attraction">
      <div class="rating-item active" data-rate="1"></div>
      <div class="rating-item" data-rate="2"></div>
      <div class="rating-item" data-rate="3"></div>
      <div class="rating-item" data-rate="4"></div>
      <div class="rating-item" data-rate="5"></div>
    </div>

    Implementation strategy:
    <div class="rating" id="strategy">
      <div class="rating-item active" data-rate="1"></div>
      <div class="rating-item" data-rate="2"></div>
      <div class="rating-item" data-rate="3"></div>
      <div class="rating-item" data-rate="4"></div>
      <div class="rating-item" data-rate="5"></div>
    </div>

    Competitiveness:
    <div class="rating" id="competitiveness">
      <div class="rating-item active" data-rate="1"></div>
      <div class="rating-item" data-rate="2"></div>
      <div class="rating-item" data-rate="3"></div>
      <div class="rating-item" data-rate="4"></div>
      <div class="rating-item" data-rate="5"></div>
    </div>

    Financial attractiveness:
    <div class="rating" id="finance">
      <div class="rating-item active" data-rate="1"></div>
      <div class="rating-item" data-rate="2"></div>
      <div class="rating-item" data-rate="3"></div>
      <div class="rating-item" data-rate="4"></div>
      <div class="rating-item" data-rate="5"></div>
    </div>

    <button id="create-rating" class="btn btn-outline-primary">Share</button>
  </div>
<% end %>