/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
.sorting {
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}


.all-stars {
  display: flex;
}

.rating {
  display: flex;
}

.rating-item{
  width: 40px;
  height: 40px;
  background-image: url('fav.png');
  background-size: cover;
  background-position: center;
  border: 2px solid #fff;
  cursor: pointer;
}

.rating-item.active {
  background-size: cover;
  background-image: url('star.png');
  background-position: center;
}

.rating-item.average {
  cursor: default;
  background-size: cover;
  background-image: url('star.png');
  background-position: center;
}

.rating-item.average.exclude {
  visibility: hidden;
}

.registration {
  margin: auto;
  margin-top: 15rem;
  text-align: center;
  max-width: 20rem;
}

.wrap-contanier {
  margin-top: 6rem;
}

.content {
  margin-top: 3rem;
}
 .carousel {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
  background-color: #777;
  .back-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    &.back-image-1{
      background-image: image-url('businessman.jpg');
      background-position: center;
    }
    &.back-image-2{
      background-image: image-url('sponsors.jpg');
      background-position: center;
    }
  }
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 35rem;
}
